/* Base styles*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
:root{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
.main-container{
    width: 100%;
    padding: 5% 0 0;
    background-color: #fff;
    overflow-x: hidden;
}
