// Variables

$primary-font: "Montserrat", sans-serif;
$second-font: "Open Sans", sans-serif;
$footer-bg-color: #505050;

// Mixins
@mixin button($width: 150px, $pd-y: 15px, $pd-x: 5px) {
  width: $width;
  outline: none;
  border: none;
  padding: $pd-y $pd-x;
  text-transform: uppercase;
  color: #fff;
  background-color: #303030;
  border-radius: 25px;
}
@mixin flexbox(
  $direction: row,
  $jtf-content: center,
  $algn-items: center,
  $wrap: wrap
) {
  display: flex;
  justify-content: $jtf-content;
  align-items: $algn-items;
  flex-wrap: $wrap;
  flex-direction: $direction;
}
@mixin title($size:2rem, $weight: 700, $l-height: auto) {
  font-family: "Montserrat", sans-serif;
  font-weight: $weight;
  font-size: $size;
  line-height: $l-height;
}
@mixin desciption-txt($size:1.5rem, $weight: 300, $l-height: auto) {
  font-family: "Open Sans", sans-serif;
  font-weight: $weight;
  font-size: $size;
  line-height: $l-height;
}
@mixin border($color: magenta) {
  border: 0px solid $color;
}
